Repository ipsilon/evmone, pull requests merged in 2024-05, with the labels that each got.

#884 ci: Sync EOF tests with ethereum/tests
  circle.yml
Labels: EOF, tests

#893 Fix EOF initcode handling before EOF is enabled
  lib/evmone/instructions_calls.cpp
  test/unittests/state_transition_eof_create_test.cpp
Labels: bug, EOF

#902 Add --version option to testing tools
  test/blockchaintest/CMakeLists.txt
  test/blockchaintest/blockchaintest.cpp
  test/statetest/CMakeLists.txt
  test/statetest/statetest.cpp
  test/t8n/t8n.cpp
Labels: tests

#878 Allow EOF creation transactions
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  test/state/errors.hpp
  test/state/host.cpp
  test/state/host.hpp
  test/state/state.cpp
  test/unittests/eof_example_test.cpp
  test/unittests/eof_validation_test.cpp
  test/unittests/state_transition_eof_create_test.cpp
  test/unittests/state_tx_test.cpp
Labels: EOF
