Repository ipsilon/evmone, pull requests merged in 2024-08, with the labels that each got.

#964 evmmax: Make ModArith header-only and constexpr
  include/evmmax/evmmax.hpp
  lib/evmmax/CMakeLists.txt
  lib/evmmax/evmmax.cpp
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/secp256k1.cpp
  test/unittests/evmmax_test.cpp
Labels: EVMMAX

#978 eof: fix multi-container-section case
  lib/evmone/eof.cpp
  test/unittests/eof_validation_test.cpp
Labels: bug, EOF

#977 ci: Upgrade ethereum/tests
  circle.yml
Labels: tests

#972 precompiles: Prepare blst dependency
  cmake/blst.cmake
  lib/evmone_precompiles/CMakeLists.txt
Labels: precompiles
