Repository ipsilon/evmone, pull requests merged in 2024-06, with the labels that each got.

#915 Make EXT*CALL ASE-ready
  lib/evmone/instructions_calls.cpp
  test/unittests/state_transition_eof_calls_test.cpp
Labels: EOF

#909 EOF RETURNDATA* to pad on OOB read
  lib/evmone/instructions.hpp
  test/unittests/evm_eof_calls_test.cpp
Labels: EOF

#898 CI: Upgrade compilers: GCC 14 and clang 18
  .clang-tidy
  circle.yml
  test/state/account.hpp
  test/utils/utils.hpp
Labels: tests

#920 test: Refactor state_transition post checks
  test/unittests/state_transition.cpp
Labels: tests

#921 Disallow truncated data in toplevel containers
  circle.yml
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  lib/evmone/instructions_calls.cpp
  test/state/host.cpp
  test/unittests/eof_validation.cpp
  test/unittests/eof_validation_test.cpp
Labels: EOF

#927 test: Allow `"to": null` in JSON transaction
  test/integration/t8n/cancun_create_tx/txs.json
  test/statetest/statetest_loader.cpp
  test/unittests/statetest_loader_tx_test.cpp
Labels: tests

#876 EOF validation of subcontainer kinds
  circle.yml
  lib/evmone/baseline.cpp
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  lib/evmone/instructions.hpp
  lib/evmone/instructions_calls.cpp
  test/eofparse/eofparse.cpp
  test/eofparsefuzz/eofparsefuzz.cpp
  test/eoftest/eoftest_runner.cpp
  test/state/host.cpp
  test/statetest/statetest_loader.cpp
  test/unittests/eof_test.cpp
  test/unittests/eof_validation.cpp
  test/unittests/eof_validation.hpp
  test/unittests/eof_validation_test.cpp
  test/unittests/evm_eof_function_test.cpp
  test/unittests/evm_eof_test.cpp
  test/unittests/evm_fixture.hpp
  test/unittests/state_transition_eof_create_test.cpp
Labels: EOF

#934 Support validating initcode containers in `eofparse`
  test/eofparse/eofparse.cpp
Labels: EOF, tests

#935 Fix `eoftest` to run all tests from a JSON file
  test/eoftest/eoftest_runner.cpp
Labels: EOF, tests

#930 EOF: limit validated container size to MAX_INITCODE_SIZE
  circle.yml
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  test/unittests/eof_validation.cpp
  test/unittests/eof_validation_test.cpp
Labels: EOF

#936 EOF validation tests runner: support initcode flag
  test/eoftest/eoftest_runner.cpp
  test/unittests/eof_validation.cpp
Labels: EOF, tests
