Repository ipsilon/evmone, pull requests merged in 2024-04, with the labels that each got.

#854 Refactor evmone-precompiles-bench
  test/precompiles_bench/precompiles_bench.cpp
Labels: precompiles

#846 Add native implementation of RIPEMD160
  lib/evmone_precompiles/CMakeLists.txt
  lib/evmone_precompiles/ripemd160.cpp
  lib/evmone_precompiles/ripemd160.hpp
  test/state/precompiles.cpp
  test/state/precompiles_cache.cpp
  test/state/precompiles_internal.hpp
  test/state/precompiles_stub.json
  test/unittests/CMakeLists.txt
  test/unittests/precompiles_ripemd160_test.cpp
Labels: precompiles

#857 Add native implementation of BLAKE2bf precompile
  circle.yml
  lib/evmone_precompiles/CMakeLists.txt
  lib/evmone_precompiles/blake2b.cpp
  lib/evmone_precompiles/blake2b.hpp
  test/state/precompiles.cpp
  test/state/precompiles_cache.cpp
  test/state/precompiles_internal.hpp
  test/state/precompiles_stub.json
  test/unittests/CMakeLists.txt
  test/unittests/precompiles_blake2b_test.cpp
Labels: precompiles

#865 test: Drop the long-running RIPEMD160 unit test
  test/unittests/precompiles_ripemd160_test.cpp
Labels: precompiles, tests

#863 statetest: Run all tests from a JSON file
  test/bench/bench.cpp
  test/integration/statetest/CMakeLists.txt
  test/integration/statetest/tests1/SuiteA/test2.json
  test/integration/statetest/tests1/SuiteA/test2_multi.json
  test/statetest/statetest.cpp
  test/statetest/statetest.hpp
  test/statetest/statetest_loader.cpp
  test/statetest/statetest_runner.cpp
  test/unittests/statetest_loader_test.cpp
Labels: tests

#864 evmmax: Clean up mul implementation
  lib/evmmax/evmmax.cpp
Labels: EVMMAX

#702 EOF: TXCREATE instruction
  lib/evmone/advanced_instructions.cpp
  lib/evmone/baseline_instruction_table.cpp
  lib/evmone/eof.hpp
  lib/evmone/execution_state.hpp
  lib/evmone/instructions.hpp
  lib/evmone/instructions_calls.cpp
  lib/evmone/instructions_opcodes.hpp
  lib/evmone/instructions_traits.hpp
  lib/evmone/instructions_xmacro.hpp
  test/state/errors.hpp
  test/state/host.cpp
  test/state/host.hpp
  test/state/state.cpp
  test/state/state.hpp
  test/statetest/statetest_loader.cpp
  test/unittests/instructions_test.cpp
  test/unittests/state_transition.cpp
  test/unittests/state_transition_eof_create_test.cpp
  test/unittests/state_tx_test.cpp
  test/utils/bytecode.hpp
Labels: EOF

#855 Test case: initcode-mode not being EOF-validated
  test/unittests/eof_validation_test.cpp
Labels: EOF

#866 Disallow code sections unreachable from section 0
  lib/evmone/eof.cpp
  test/unittests/eof_validation_test.cpp
Labels: EOF

#873 eofparse: Return number of errors
  test/eofparse/eofparse.cpp
  test/integration/CMakeLists.txt
  test/integration/eofparse/CMakeLists.txt
  test/integration/eofparse/two_errors.txt
Labels: tests
