Repository ipsilon/evmone, pull requests merged in 2024-09, with the labels that each got.

#984 precompiles: Add BLS precompiles IDs
  test/state/precompiles.cpp
  test/state/precompiles.hpp
  test/state/precompiles_internal.hpp
  test/unittests/state_precompiles_test.cpp
Labels: precompiles, Prague

#982 precompiles: Implement EIP-2537's `bls12_g1add`
  circle.yml
  lib/evmone_precompiles/CMakeLists.txt
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/CMakeLists.txt
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#953 EIP-2935: Serve historical block hashes from state
  circle.yml
  test/state/system_contracts.cpp
  test/state/system_contracts.hpp
  test/unittests/state_system_call_test.cpp
  test/utils/utils.cpp
Labels: Prague

#994 precompiles: Implement EIP-2537's `bls12_g1mul`
  circle.yml
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#995 precompiles: Implement EIP-2537's `bls12_g2add`
  circle.yml
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#999 precompiles: Implement EIP-2537's `bls12_g2mul`
  circle.yml
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#1002 eof: Don't re-parse EOF header in `RETURNCONTRACT`
  lib/evmone/instructions.hpp
Labels: EOF

#1010 precompiles: Implement BLS multi scalar multiplication
  circle.yml
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#1012 precompilles: Implement mapping of field elements to `BLS12-381` curve points
  circle.yml
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#1016 precompiles: Implement BLS pairing check
  circle.yml
  lib/evmone_precompiles/bls.cpp
  lib/evmone_precompiles/bls.hpp
  test/state/precompiles.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, Prague

#1023 test: Support chain_id in loading multi-transaction state tests
  test/statetest/statetest_loader.cpp
  test/unittests/statetest_loader_test.cpp
  test/unittests/statetest_loader_tx_test.cpp
Labels: tests

#1035 eof: Return constant hash of EXTCODEHASH of EOF
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  test/state/host.cpp
  test/unittests/eof_test.cpp
Labels: EOF

#1036 eof: Optimize EOF validation by using `std::move`
  lib/evmone/eof.cpp
Labels: EOF
