Repository ipsilon/evmone, pull requests merged in 2024-01, with the labels that each got.

#769 CI: Build with clang-17
  CMakeLists.txt
  circle.yml
Labels: build

#765 precompiles: Add evmone-precompiles-bench tool
  test/CMakeLists.txt
  test/precompiles_bench/CMakeLists.txt
  test/precompiles_bench/precompiles_bench.cpp
  test/state/CMakeLists.txt
  test/state/precompiles.cpp
  test/state/precompiles.hpp
  test/state/precompiles_internal.hpp
  test/state/precompiles_silkpre.cpp
  test/state/precompiles_silkpre.hpp
Labels: precompiles

#768 Enable EOF validation before execution in `evmc run`
  README.md
  lib/evmone/baseline.cpp
  lib/evmone/vm.cpp
  lib/evmone/vm.hpp
  test/integration/CMakeLists.txt
Labels: EOF

#721 Disallow unreachable code sections
  circle.yml
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  test/unittests/eof_test.cpp
  test/unittests/eof_validation_test.cpp
Labels: EOF

#788 DUPN and SWAPN in EOF only + EOF stack validation
  lib/evmone/advanced_analysis.hpp
  lib/evmone/advanced_instructions.cpp
  lib/evmone/baseline.cpp
  lib/evmone/baseline_instruction_table.cpp
  lib/evmone/eof.cpp
  lib/evmone/instructions.hpp
  lib/evmone/instructions_traits.hpp
  test/unittests/eof_validation_test.cpp
  test/unittests/evm_eip663_dupn_swapn_test.cpp
Labels: EOF

#801 Test for circular JUMPF validation
  test/unittests/eof_validation_test.cpp
  test/utils/bytecode.hpp
Labels: EOF
