Repository ipsilon/evmone, pull requests merged in 2025-03, with the labels that each got.

#1148 test: Add more tests for BLS pairing check precompile
  test/unittests/precompiles_bls_test.cpp
Labels: precompiles, tests

#1151 precompiles: Fix BN254 pairing check
  lib/evmone_precompiles/bls.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: bug, precompiles, Prague

#1150 precompiles: Fix BLS MSMs for inputs with points-at-infinity
  lib/evmone_precompiles/bls.cpp
  test/unittests/precompiles_bls_test.cpp
Labels: bug, precompiles, Prague

#1155 Drop lines precomputation in BLS pairinig check
  lib/evmone_precompiles/bls.cpp
Labels: precompiles, has_dependencies

#1159 Add basic unit tests for collecting deposit requests
  test/state/requests.cpp
  test/state/requests.hpp
  test/unittests/CMakeLists.txt
  test/unittests/state_deposit_requests_test.cpp
Labels: tests

#1152 Check for topic when parsing deposit contract logs
  test/state/requests.cpp
  test/state/requests.hpp
  test/unittests/state_deposit_requests_test.cpp
Labels: Prague

#1163 precompiles: Handle trivial inputs to expmod
  test/state/precompiles.cpp
  test/state/precompiles_stubs.cpp
Labels: precompiles

#1164 precompiles: Call silkpre directly from expmod_execute()
  test/state/precompiles.cpp
Labels: precompiles

#1134 Add prestate validation checks to state test loader
  test/statetest/statetest_loader.cpp
  test/unittests/state_transition_create_test.cpp
  test/unittests/statetest_loader_test.cpp
Labels: tests

#1142 evmmax: Add inversion method
  include/evmmax/evmmax.hpp
  test/unittests/evmmax_test.cpp
Labels: EVMMAX

#1160 eof: Optimize allocations when validating the header
  lib/evmone/eof.cpp
Labels: EOF

#1143 evmmax: Use inv() instead of generated addchains
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
  lib/evmone_precompiles/pairing/bn254/fields.hpp
  lib/evmone_precompiles/secp256k1.cpp
  lib/evmone_precompiles/secp256k1.hpp
  test/unittests/evmmax_bn254_add_test.cpp
  test/unittests/evmmax_secp256k1_test.cpp
Labels: precompiles, EVMMAX

#1167 precompiles: Add basic unit tests for expmod
  test/state/precompiles.cpp
  test/state/precompiles_internal.hpp
  test/unittests/CMakeLists.txt
  test/unittests/precompiles_expmod_test.cpp
Labels: precompiles, tests

#1165 precompiles: Use classic EC point add formula
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/bn254.hpp
  lib/evmone_precompiles/ecc.hpp
Labels: precompiles

#1166 precompiles: Optimize EC point multiplication
  lib/evmone_precompiles/ecc.hpp
Labels: precompiles

#1174 precompiles: Fix incorrect output size in BN254 ecpairing
  test/state/precompiles.cpp
  test/unittests/CMakeLists.txt
  test/unittests/precompiles_bn254_test.cpp
Labels: bug, precompiles

#1175 precompiles: Refactor BN254 ecpairing
  test/state/precompiles.cpp
Labels: precompiles

#1179 precompiles: Small style fixes in expmod gas calculation
  test/state/precompiles.cpp
Labels: precompiles
