Repository ipsilon/evmone, pull requests merged in 2025-04, with the labels that each got.

#1181 eof: Change max stack height to stack height increase
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  lib/evmone/instructions.hpp
  test/unittests/eof_example_test.cpp
  test/unittests/eof_validation.cpp
  test/unittests/eof_validation_stack_test.cpp
  test/unittests/eof_validation_test.cpp
  test/unittests/evm_eof_function_test.cpp
  test/utils/bytecode.hpp
Labels: EOF

#1195 precompiles: Validate and preprocess expmod input
  test/state/precompiles.cpp
  test/state/precompiles_stubs.cpp
  test/state/precompiles_stubs.hpp
  test/unittests/precompiles_expmod_test.cpp
Labels: precompiles, has_dependencies

#1193 eof: Add caching of TXCREATE validation results
  lib/evmone/execution_state.hpp
  lib/evmone/instructions_calls.cpp
  test/unittests/state_transition_txcreate_test.cpp
Labels: EOF

#1198 precompiles: Implement expmod with GMP
  README.md
  circle.yml
  cmake/FindGMP.cmake
  test/state/CMakeLists.txt
  test/state/precompiles.cpp
  test/state/precompiles_gmp.cpp
  test/state/precompiles_gmp.hpp
Labels: precompiles

#1203 precompile: Add extended explanation for pairing check API
  lib/evmone_precompiles/bn254.hpp
  test/unittests/evmmax_bn254_pairing_test.cpp
Labels: precompiles

#1170 precompiles: Add EC mixed-add formula
  lib/evmone_precompiles/bn254.cpp
  lib/evmone_precompiles/ecc.hpp
  lib/evmone_precompiles/secp256k1.cpp
Labels: precompiles

#1190 eof: Remove support for EOF Creation Transaction
  lib/evmone/eof.cpp
  lib/evmone/eof.hpp
  lib/evmone/instructions_calls.cpp
  test/state/errors.hpp
  test/state/host.cpp
  test/state/state.cpp
  test/statetest/statetest_export.cpp
  test/unittests/eof_example_test.cpp
  test/unittests/state_transition_eof_create_test.cpp
  test/unittests/state_tx_test.cpp
Labels: EOF

#1205 eof: creation tx hard fail on EOF initcode
  test/state/errors.hpp
  test/state/host.cpp
  test/state/state.cpp
  test/statetest/statetest_export.cpp
  test/unittests/state_transition_eof_create_test.cpp
  test/unittests/state_tx_test.cpp
Labels: EOF

#1211 test: Add missing revision schedules
  test/utils/utils.cpp
Labels: tests
